.traffic-light{
    background-color: black;
    width: 150px;
    height: 400px;
    margin: auto;
    border-radius: 25px;
    color: white;
    padding: 5px;
}
.traffic-light > div {
    border-radius: 50%;
    height: 130px;
    width: 140px;
    margin: auto;
    padding: 10px;
}
.active{
     
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 0 40px white;
}
.red{
    background-color: red  
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
